* {
  background: silver;
}
.jumbotron {
  font-size: 50px;
  background-image: linear-gradient(rgb(27, 44, 92), rgb(135, 146, 145));
  max-width: auto;
  font-weight: bolder;
}
.hide {
  display: none;
}
#search-box {
  max-width: 2000px;
}
.low {
  background-color: green;
  max-width: fit-content;
  color: white;
}

.moderate {
  background-color: yellow;
  max-width: fit-content;
  color: blue;
}

.high {
  background-color: orange;
  max-width: fit-content;
  color: black;
}

.very-high {
  background-color: red;
  max-width: fit-content;
  color: white;
}

.extreme {
  background-color: violet;
  max-width: fit-content;
  color: black;
}

.savedCityButtons {
  background: cadetblue;
  font-size: large;
  font-weight: 700;
}
#searchHistory {
  margin: auto;
}
.savedCityButtons:hover {
  background: darkblue;
  transition: all 0.3s ease-in-out;
  color: whitesmoke;
}
